
.header{
    background: rgb(23, 5, 52);
    color: white;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* CORREÇÃO LOGO */

.header__logo{
    width: 120px;
    height: auto;
}

section {
    padding: 60px 20px;
}

/* HOME */




#home {
    background: linear-gradient(to right, #0a0a23, #1a1a40);
    color: white;
    text-align: center;
    padding: 100px 20px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    color: rgb(246, 243, 243);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {

.header {
    flex-direction: column;
    text-align: center;
}

nav ul {
    flex-direction: column;
    gap: 15px;
}

section{
    padding: 40px 15px;
}

}
